AWS_DEFAULT_REGION=eu-west-1
ECR_REPOSITORY_APP=123456789012.dkr.ecr.eu-west-1.amazonaws.com/devops-capstone-app
ECR_REPOSITORY_PROXY=123456789012.dkr.ecr.eu-west-1.amazonaws.com/devops-capstone-proxy
ECS_CLUSTER_NAME=devops-capstone-demo
ECS_SERVICE_BLUE=app-blue
ECS_SERVICE_GREEN=app-green
ECS_SERVICE_PROXY=nginx-proxy
ECS_TASK_FAMILY_APP=devops-capstone-app
ECS_TASK_FAMILY_PROXY=devops-capstone-proxy
ALB_URL=http://replace-with-alb-dns
GREEN_HEALTH_URL=http://replace-with-green-service/health.html
PROXY_TASK_DEFINITION_FILE=.build/task-definition-proxy-green.json
HEALTH_PATH=/health.html
VERSION_PATH=/version.json
IMAGE_TAG_FORMAT=BUILD_NUMBER-short_git_sha
